<br>
<div class="container">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <img src="../assets/images/angular.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="#">NG-BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink] = "['/inicio']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categoria</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLink] = "['/registro']">Registro</a>
          </li>
            <li class="nav-item dropdown">              
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nombre de Usuario
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Crear entrada</a></li>
                <li><a class="dropdown-item" href="#">Crear categoria</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                <li><a class="dropdown-item" href="#">Ajustes</a></li>
                <li><a class="dropdown-item" href="#">Salir</a></li>
              </ul>
            </li>
      </ul>       
      </ul>
     
    </div>
  </div>
</nav>

<!-- CONTENIDO -->
<router-outlet></router-outlet>


</div>